---
import Header from './final-step/Header.astro';
import ValidationCard from './final-step/ValidationCard.astro';
import ContactForm from './final-step/ContactForm.astro';
import TrustMessage from './final-step/TrustMessage.astro';
import BookingModal from '../BookingModal.astro';
---

<div>
  <Header />

  <div
    class="bg-gradient-to-br dark:from-slate-700 dark:to-gray-900 rounded-xl border-2 border-slate-200 dark:border-gray-600 shadow-lg p-6 max-w-2xl mx-auto"
  >
    <ValidationCard />
    <ContactForm />
    <TrustMessage />
    
    
  </div>
</div>

<BookingModal />

<script>
  import { handleQuoteSubmit } from '../../lib/handleQuoteSubmit';

  const sendEmail = document.getElementById("sendEmailBtn") as HTMLButtonElement;
  sendEmail.addEventListener("click", handleQuoteSubmit);

  // Abrir modal de reserva
  const openBookingBtn = document.getElementById("open-booking-modal");
  openBookingBtn?.addEventListener("click", () => {
    // 
    window.openBookingModal();
  });
</script>