---
import type { WizardStep } from "../../config/wizardSteps";

import FinalStep from "./FinalStep.astro";

import Step1 from "./Step1.astro";
import Step2 from "./Step2.astro";
import Step3 from "./Step3.astro";

const { step, data, steps } = Astro.props;

// Normalización
const totalSteps = steps.length;
const currentStep = Math.min(Math.max(step, 1), totalSteps);
---

<section class="wizard-container text-gray-900 dark:text-gray-100">
  {currentStep === 1 && <Step1 data={data} />}
  {currentStep === 2 && <Step2 data={data} />}
  {currentStep === 3 && <Step3 data={data} />}
  {currentStep === 4 && <FinalStep />}
</section>
