<footer class="pt-10 text-white pb-4">
  <div class="w-full max-w-xl mx-auto p-4 flex justify-between items-center">
    <a href="/">
      <img class="w-16" src="/favicon.svg" alt="Site Logo" />
    </a>
    <nav>
      <ul class="flex justify-center items-center">
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-6"
            href="/privacidad">Privacidad</a
          >
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-6"
            href="/aviso-legal">Aviso Legal</a
          >
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-6"
            href="/politica-de-cookies">Política de Cookies</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="mt-1 text-center">
    <small class="opacity-70"
      >© {new Date().getFullYear()} NOMENEX. Todos los derechos reservados.
      <a class="hover:underline" href="mailto:interfaznomenex@gmail.com"
        >interfaznomenex@gmail.com</a
      >
    </small>
  </div>
</footer>
