---
import GradientOverlay from "../../GradientOverlay.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>NOMENEX - 2026</title>
    <meta name="description" content="NOMENEX - 2026" />
    <meta name="keywords" content="NOMENEX, 2026, Nomenex 2026" />
    <meta name="author" content="NOMENEX" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandex" content="index, follow" />
  </head>
  <body>
    <div id="background-mask" class="min-h-screen w-full">
      <GradientOverlay />
      <div class="relative z-2">
        <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @plugin "@midudev/tailwind-animations";

  @font-face {
    font-family: "Montserrat-Medium";
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1,
  h2 {
    font-family: "Montserrat-Bold", sans-serif;
  }

  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat-Medium", sans-serif;
  }
</style>
<style>
  body {
    background: #000;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #background-mask {
    background-image: url("/fondo.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
</style>
